* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif, Impact, Charcoal;
}

body {
    background-color:#f1dfc0;
    margin: 0;
}   

header {
    background-color:rgba(211,181,141,255);
    margin: 0;
    width: 100%;
    position: fixed;
}

h1 {
    display: block;
    color:rgb(67, 65, 65);
    font-size: 30px;
    font-style: italic;
    margin: 10px;  
}

.colachicken {
    display: flex;
    flex-direction: column;
}

#dcolachicken {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#acolachicken {
    text-decoration: none;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    color: black;
    font-size: 60px;
    font-weight: bolder;
    padding: 10px;
    margin-top: 100px;
    text-align: center;
}

#icolachicken {
    margin: 0px auto;
}

.description {
    display: block;
    width: 80%;
    margin: 20px auto;
}

#idescription {
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.steps {
    width: 40%;
}

button {
    width: 80px;
    height: 30px;
    background-color:rgba(211,181,141,255);
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px; 
}

.mr {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 70px;
    margin: 20px;
   
}

.mr ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 20px;
    align-content: center;
}

.mr li {
    list-style: none;
}

.mr a {
    text-decoration: none;
    color: gray;
}

p,a,li{
    font-size: 20px;
}
